
.input-container-main-light {
  height: 140px;
  width: 83vw;
  position: fixed;
  display: flex;
  justify-content: center;padding-top: 5px;
  bottom: 0;background-color: white;
}

.input-container-light {
  display: flex;
  flex-direction: column;
  gap: 10px;height: 110px;
  border: 1px solid #3674B5;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  width: 80%;padding: 5px 10px 10px 3px;
  border-radius: 10px;color: black;
}
.input-container-focus-light{
   display: flex;
  flex-direction: column;
  gap: 10px;height: 110px;
  width: 80%;padding: 5px 10px 10px 3px;
  border-radius: 10px;
  border: 1px solid rgb(0, 137, 200);
  box-shadow: 0 0 10px 2px rgba(88, 171, 255, 0.178);
  cursor: pointer;
}



.chat-input-light {
  width: 95%;
  min-height: 80px;
  font-size: 1rem;
  border: none;background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  resize: none;
}

.chat-input-light:focus {
  outline: none;
}

.message-send-light {
  position: absolute;
  right: -2px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
}

.message-send-light:disabled {
  color: #302f2f;
  cursor: not-allowed;
}



.char-counter-light{
  font-size: 0.8rem;
  position: absolute;
  bottom: 0px;
  right: 5px;
  color: #000000;
  color: black;
}