.chat-top-bar-light {
  display: flex;justify-content: space-between;
  align-items: center;height: 40px;
  gap: 20px;padding: 7px;
  background-color: white;
  width: calc(100% - 20px);
}

.chat-page-back-button-light {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
.chat-top-right-div-light{
  display: flex;gap: 10px;
}
.top-bar h2 {
  font-size: 1.5rem;
  margin: 0;
}

.search-bar {
  padding: 8px;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  width: 200px;
}

.search-bar:focus {
  outline: none;
  border-color: #3674B5;
}

.chat-version-light {
  border: 1.1px solid #3674B5;
  color: rgb(0, 0, 0);
  padding: 8px 16px 8px 16px;
  border-radius: 7px;
  font-size: 0.9rem;display: flex;justify-content: center;
  align-items: center;
}
.create-task-light {
  position: relative;
  background-color: #3674B5;
  color: white;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

.create-task-light::after {
  content: '';
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transform: scale(0);
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transition: transform 0.5s, opacity 0.6s;
  z-index: -1;
}

.create-task-light:hover::after {
  transform: scale(1);
  opacity: 0;
}
.create-task-light:hover {
   scale: 1.05;
  cursor: pointer;
}

.goplus-new-light{
  font-size: 25px;
}



.delete-session-button-light {
   border: 1.1px solid #3674B5;
  color: rgb(255, 255, 255);
  padding: 8px 16px 8px 16px;
  background-color: #3674B5;
  border-radius: 7px;
  font-size: 0.9rem;display: flex;justify-content: center;
  align-items: center;
}
.delete-session-button-light:hover{
  scale: 1.05;
  cursor: pointer;
}







/* Responsive Design */
@media (max-width: 768px) {
  .top-bar {
    flex-wrap: wrap;
  }

  .search-bar {
    width: 100%;
    margin: 10px 0;
  }
}