.input-container-main-dark {
  height: 14vh;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  bottom: 0;
  background-color: #021526;
  z-index: 1000;
}

.input-container-dark,
.input-container-focus-dark {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 10vh;
  width: 90%;
  max-width: 800px;
  padding: 5px 10px 10px 3px;
  border-radius: 10px;
  border: 1px solid #4C3BCF;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  color: white;
}

.input-container-focus-dark {
  box-shadow: 0 0 10px 2px #4c3bcf65;
  cursor: pointer;
}

.chat-input-dark {
  width: 100%;
  min-height: 60px;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  resize: none;
  color: white;
}

.chat-input-dark::placeholder {
  color: white;
}

.chat-input-dark:focus {
  outline: none;
}

.message-send-dark {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.message-send-dark:disabled {
  color: #ffffff;
  cursor: not-allowed;
}

.char-counter-dark {
  font-size: 0.75rem;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #ffffff;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
  .input-container-dark,
  .input-container-focus-dark {
    width: 90%;
    height: auto;
  }

  .chat-input-dark {
    min-height: 50px;
    font-size: 0.9rem;
  }

  .message-send-dark {
    font-size: 20px;
    right: 10px;
    top: 10px;
  }

  .char-counter-dark {
    font-size: 0.7rem;
    right: 8px;
    bottom: 5px;
  }
}
